:root {
    /*Color palette*/
    --color1: #427a36;
    --color2: #6e9b5f;
    --color3: #99bd88 ;
    --color4: #c4deb2;
    --color5: #efffdb;
  
    --principal: #003400;
    --secundario: #ffffff;
    --acento: #009389;
    --acento-hover: #33b9b0;
  
    scroll-behavior: smooth;
  }
  html, body, #root, .app-container {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  