:root {
    /*Color palette*/
    --color1: #427a36;
    --color2: #6e9b5f;
    --color3: #99bd88 ;
    --color4: #c4deb2;
    --color5: #efffdb;
  
    --principal: #003400;
    --secundario: #ffffff;
    --acento: #009389;
    --acento-hover: #33b9b0;
  
    scroll-behavior: smooth;
  }
  