.suggestions {
    max-height: 200px;
    width: 100%;
    height: fit-content;
    position: absolute;
    z-index: 10;
  }
  
  .suggestions.hidden {
    /* Will hide the suggestions */
    visibility: hidden;
  }
  
  .suggestion {
    /* Styling of a single suggestion */
    cursor: pointer;
    box-sizing: border-box;
    padding: 1px 10px;
    height: 2rem;
    display: flex;
    align-items: center;
  }
  
  .suggestion:hover {
    /* Changing background color on hover */
    background-color: #f3f3f3;
  }