/* Variables de colores y configuraciones principales */
:root {
  --principal: #f8f9fa; /* Color de ejemplo, ajusta según sea necesario */
  --color1: #007bff; /* Color de ejemplo, ajusta según sea necesario */
  --color2: #0056b3; /* Color de ejemplo, ajusta según sea necesario */
}

.container-fluid {
  background-color: var(--principal);
}

.navbar-brand img {
  height: 7em;
  width: 8rem;
}

.form-control {
  border-radius: 20px;
}

form {
  border-radius: 20px;
}

.btn-outline-success, .btn-primary {
  border-radius: 20px;
}

.btn-primary {
  background-color: var(--color1);
  border-color: var(--color1);
}

.btn-primary:hover {
  background-color: var(--color2);
  color: white;
  transition: 0.5s ease;
}

.btn-outline-success {
  border-color: var(--color1);
  color: var(--color1);
  background-color: white;
}

.btn-outline-success:hover {
  background-color: var(--color2);
  color: white;
  transition: 0.5s ease;
}

.navbar-toggler {
  background-color: white;
}

.navbar-toggler:hover {
  background-color: var(--color2);
  transition: 0.5s ease;
}

.nav-link {
  color: white;
  font-weight: bold;
  padding: 10px 20px; /* Incremento del padding para mayor separación */
  border-radius: 5px;
  margin: 0 15px; /* Incremento del margen horizontal */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
  background-color: var(--color2);
  color: white;
}

.nav-link.active {
  background-color: var(--color1);
  color: white;
}

.dropdown-menu {
  background-color: var(--principal);
  border: none;
}

.dropdown-item {
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 10px 0; /* Incremento del margen vertical */
}

.dropdown-item:hover {
  background-color: var(--color2);
  color: white;
}

/* Vista en ordenador */
@media all and (min-width: 992px) {
  .navbar .has-megamenu {
    position: static !important;
  }
}

/* Vista en móvil */
@media (max-width: 991px) {
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top {
    overflow-y: auto;
    max-height: 90vh;
    margin-top: 10px;
  }
  .form-control {
    margin: 1rem;
  }
  .btn-outline-success {
    margin: 1rem;
  }
  .navbar-brand img {
    align-items: center;
  }
}
