/* UploadItem.css */

#pub-form {
    width: 100%;
    padding: 20px;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--color2);
}

#submit-pub {
    background-color: var(--color1);
    color: white;
}

#submit-pub:hover {
    background-color: var(--color4);
    color: black;
}

#input-pub{
    max-width: 40%;
    border: 1px solid var(--color3);
    background-color: var(--color4);
}

#submit-form {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

/* Map.css */

#up-pub{
    height: 40vh; /* Adjust as needed */
}

#up-pub > .controls{
    width: 30%;
}

#up-pub > .map{
    height: 100%;
    width: 90%;
}

#up-pub > .map > .map-container {
    width: 100%; /* Changed from 530px to 100% */
    height: 100%;
}