/* UploadItem.css */

#pub-form {
    align-items: center;
    width: 100%;
    padding: 20px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.input{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    padding: 24px 16px;
    gap: 12px;
    margin-bottom: 16px;
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 16px;
}

#submit-form {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

/* Map.css */

#up-pub{
    height: 50vh; /* Adjust as needed */
}

#up-pub > .controls{
    width: 30%;
}

#up-pub > .map{
    height: 100%;
    width: 90%;
}

#up-pub > .map-container {
    width: 100%; /* Changed from 530px to 100% */
    height: 100%;
}