#tienda-form {
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: var(--color2);
    padding-top: 32px;
    padding-bottom: 32px;
}

.tienda-input{
    max-width: 40%;
    border: 1px solid lightgrey;
    background-color: var(--color4);
}

.input-box {
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
}

#button-tienda {
    border: none;
    width: 35%;
    background-color: var(--color1);
    color: white;
    cursor: pointer;
}

#button-tienda:hover {
    background-color: var(--color4);
}