  .mb-custom {
    border-radius: 0 0 16px 16px;
    margin-bottom: 3rem
}

#tarjeta-user {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--color4);
}

.tarjeta {
    width: 450px;
}

#user-root {
    padding-left: 15px;
    padding-right: 15px;
    background-color: (var(--color2));
}

#user-Name{
    padding-left: 3rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--color1);
  }
  
  #store-Info {
    padding-right: 3rem;
    font-size: 1.2rem;
    color: var(--gris-oscuro);
  }
  
  .user-info:hover {
    transform: translateY(-5px);
  }
  
  .user-info h2 {
    font-size: 2rem;
    color: var(--color1);
  }
  
  .user-info p {
    font-size: 1.2rem;
    color: var(--gris-oscuro);
  }
  
  #tienda-usuario {
    background-color: var(--color4);
    height: 70vh;
    overflow: scroll;
  }